#fiche_perso {
	max-width: 1024px;
	width: 960px; /* 1024 - 30 - 2 - 2 - 30 */
	margin: 0 auto;
	padding: 45px 30px 15px;
	font-size: 15px;
	
	background-color: #FFF;
	border: 2px solid #000;
}

#fiche_perso h3 {
	margin: 0;
	padding: 0 4px;
	background-color: #DDD;
}

	#fiche_perso .fiche_regroupement,
	#fiche_perso .fiche_regroupement .fiche_element {
		width: 310px;
		display: inline-block;
		vertical-align: top;
	}
	
	#fiche_perso .fiche_regroupement {
		margin-bottom: 15px;
	}
	
	#fiche_perso .fiche_regroupement .fiche_element {
		margin-bottom: 5px;
	}
	
	#fiche_perso .fiche_regroupement .fiche_element label,
	#fiche_perso .fiche_regroupement .fiche_element .as_label span {
		display: inline-block;
		width: 160px;
		
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		
		font-weight: bold;
	}
	
	#fiche_perso .fiche_regroupement .fiche_element input,
	#fiche_perso .fiche_regroupement .fiche_element select,
	#fiche_perso .fiche_regroupement .fiche_element .as_input {
		width: 295px;
		margin-right: 10px;
		display: inline-block;
		border-bottom: 1px solid #333;
	}
	
	#fiche_perso .fiche_regroupement .fiche_element input[type="checkbox"] {
		width: auto;
		margin: 0;
		border: auto;
	}
	
	#fiche_perso .fiche_regroupement .fiche_element input {
		width: 290px;
	}
	
		#fiche_perso .fiche_regroupement.fiche_regroupement_base {
			width: 960px;
		}
		
		#fiche_perso .fiche_regroupement.fiche_regroupement_base .fiche_element.xp_anim span {
			width: 200px;
		}
		
		#fiche_perso .fiche_regroupement.fiche_regroupement_base .fiche_element.xp_anim select {
			width: 80px;
		}
	
	#fiche_perso .fiche_regroupement.fiche_regroupement_choix {
		display: block;
		width: 100%;
		background-color: #FFEEBB;
	}

		#fiche_perso .fiche_regroupement.fiche_regroupement_choix .fiche_element {
			width: auto;
			display: block;
		}

			#fiche_perso .fiche_regroupement.fiche_regroupement_choix .fiche_element label {
				overflow: visible;
				display: block;
			}
		
		#fiche_perso .fiche_regroupement.fiche_regroupement_base .fiche_element {
			width: 470px;
		}
		
		#fiche_perso .fiche_regroupement.fiche_regroupement_statistiques {
			width: 304px;
			border: 1px solid #000;
		}
		
		#fiche_perso .fiche_regroupement.fiche_regroupement_statistiques label {
			width: 156px;
			padding-left: 4px;
		}
		
		#fiche_perso .fiche_regroupement.fiche_regroupement_statistiques .as_input {
			width: 130px;
			text-align: center;
		}
		
		#fiche_perso .fiche_regroupement.fiche_regroupement_attributs .fiche_element .as_label span {
			width: 135px;
		}
		
		#fiche_perso .fiche_regroupement.fiche_regroupement_attributs .fiche_element .as_label select,
		#fiche_perso .fiche_regroupement.fiche_regroupement_capacites .fiche_element .as_label select {
			width: 150px;
		}
		
		#fiche_perso .fiche_regroupement.fiche_regroupement_cr label {
			width: 60px;
		}
		
		#fiche_perso .fiche_regroupement.fiche_regroupement_cr .as_input {
			width: 230px;
		}
		
		#fiche_perso .fiche_regroupement.fiche_regroupement_capacites .fiche_element_prestige {
			width: 304px;
			padding: 0 2px;
			border: 1px solid #EEE;
			background-color: #FAFAFA;
		}
		
		#fiche_perso .fiche_regroupement.fiche_regroupement_capacites .fiche_element .as_label span {
			width: 135px;
		}
		
		#fiche_perso .fiche_regroupement.fiche_regroupement_connaissances .fiche_element label,
		#fiche_perso .fiche_regroupement.fiche_regroupement_sorts .fiche_element label {
			width: 290px;
		}

#perso_options {
	background-color: #DDD;
}

#perso_options textarea {
	width: 90%;
	min-height: 3em;
}

#perso_options #perso_journal ul {
	max-height: 10em;
	border: 2px solid #CCC;
	background-color: #EEE;
	overflow-y: scroll;
}