<?php
	if( defined( "IS_CONFIG_INCLUDED" ) ){
		die( "Can't include CONFIG more than once." );
	}
	define( "IS_CONFIG_INCLUDED", TRUE );
	
	require "./includes/init.php";
	
	define( "LARP_NAME", "My LARP" );
	
	define( "DATABASE_SERVER", "database.server" );
	define( "DATABASE_PORT", "3306" );
	define( "DATABASE_USER", "database.user" );
	define( "DATABASE_PASSWORD", "database.password" );
	define( "DATABASE_NAME", "personnomancy" );

	define( "SMTP_HOSTNAME", "smtp.hostname" );
	define( "SMTP_PORT", "465" );
	define( "SMTP_USERNAME", "smtp.username" );
	define( "SMTP_PASSWORD", "smtp.password" );
	define( "MAIL_IMAP_SENT_MAILBOX", "{imap.provider}/Mailbox name}" );
	
	define( "IDENTITY_TRIGGER_ACTIVATION", 3 ); // Mois depuis la dernière connexion qui force l'activation
	define( "PASSWORD_GEN_LENGTH", 16 ); // Longueur du mot de passe généré
	
	define( "SESSION_KEY", "Mancy_SessionKey" );
	
	define( "CHARACTER_BASE_XP", 10 );
	define( "CHARACTER_BASE_AUTOMATICS", "{\"capacites\":[],\"connaissances\":[],\"capacites_raciales\":[],\"voies\":[4]}" );
	define( "CHARACTER_BASE_PCR", 4 );
	//define( "CHARACTER_BASE_HP", 3 );
	//define( "CHARACTER_BASE_MP", 3 );

	define( "CHARACTER_COST_CONN_AVANCEE", 1);
	define( "CHARACTER_COST_CONN_MAITRE", 2);
	define( "CHARACTER_COST_CONN_SYNERGIQUE", 3);
	define( "CHARACTER_COST_CONN_LEGENDAIRE", 4);
	define( "CHARACTER_COST_VOIE_MULTIPLIER", 1 );
	define( "CHARACTER_CONN_LEGENDAIRE_TRESHOLD", 3 );

	define( "CHARACTER_DEFAULT_COMMENTS", "L'équipe d'animation pourra laisser ses commentaires ici." );
	define( "CHARACTER_DEFAULT_NOTES", "Vous pouvez prendre des notes à propos de votre personnage ici." );
	
	define( "CHARACTER_MAX_SELECTION_COUNT", 3 );
	define( "CHARACTER_MAX_XP_INVESTED", 75 );
	
	define( "LOG_LEVEL", Message::$Notice );
	define( "LOG_FILE", "./logs/messages." . date( "y-m" ) . ".log" );
	
	if( !isset( $_SESSION[ SESSION_KEY ] ) ){
		$_SESSION[ SESSION_KEY ] = array();
	}
	
	// Initializing parameters
	Message::SetLogLevel( LOG_LEVEL, LOG_FILE );
	
	setlocale( LC_ALL, "fr_CA.utf8" );
	date_default_timezone_set( "America/New_York" );
?>
